/* --- Base Styles --- */
body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* --- Main Container Style --- */
.container {
    background-color: rgb(255, 200, 21);    
    margin: 50px auto;
    padding: 30px;
    width: 70%;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* --- Headings Style --- */
h1, h2, h3 {
    color: black;
    margin: 0;
    padding: 20px 0;
    text-align: center;
}

/* --- Form Style --- */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

/* --- Meal Title Style --- */
#meal-title {
    font-size: 3rem;            
    font-weight: bold;      
    text-align: center;    
    margin-top: 30px;       
    margin-bottom: 20px;    
    color: #333;            
    letter-spacing: 1.5px;  
    text-transform: uppercase; 
}

/* --- Specific Container Styles --- */
.search-bar, #meal-full-details, #meal-ingredients, #meal-nutrition, #ingredient-nutrition {
    background-color: floralwhite;
    border: 2px solid grey;
    font-size: 25px;
    padding: 12px;
    margin: 10px 0;
    width: 100%;
}

/* --- Image inside Meal Details Style --- */
#meal-full-details img {
    display: block;
    margin: 0 auto;
    max-width: 100%; 
}

/* --- Search Button Styles --- */
.search-button {
    background-color: rgb(216, 216, 216);
    border: 2px solid grey;
    color: black;
    font-size: 25px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* --- Info Button Styles --- */
#infobtn {
    background-color: rgb(216, 216, 216);
    border: 2px solid grey;
    color: black;
    font-size: 25px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;  
    margin: 0 auto; 
}

/* --- Hover Effects for Buttons --- */
.search-button:hover, #infobtn:hover {
    background-color: rgb(186, 186, 186);
}

/* --- Footer Styles --- */
footer {
    background-color: rgb(255, 200, 21); 
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    font-size: 18px;
    color: white;
}

/* --- Save Favorite Button Styles --- */
.save-fav-btn {
    background-color: rgb(216, 216, 216);
    border: 2px solid grey;
    color: black;
    font-size: 20px;  
    padding: 8px 16px;  
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;  
    margin: 10px auto;      
}

/* --- Hover Effects for Save Favorite Button --- */
.save-fav-btn:hover {
    background-color: rgb(186, 186, 186);
}

/* --- Modal Styles --- */
#closeModal {
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px;
    border-radius: 50%;
}
