body {
    background-color: #fff; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

header {
    background-color: white
    padding: 30px;
}

.container {
    background-color: rgb(255, 200, 21);
    
} 

h1 {
    color: black;
    font-size: 50px;
    margin: 0;
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 0;
}

.search-bar {
    background-color: floralwhite;
    border: 2px solid grey;
    border-radius: none;
    font-size: 25px;
    padding: 12px;
    width: 300px;
}

.btn {
    cursor: pointer;
}

.search-button {
    background-color: rgb(216, 216, 216);
    border: solid grey;
    border-radius: none;
    color: black;
    cursor: pointer;
    font-size: 30px;
    padding: 12px 20px;
}